#!/bin/sh

# Prerequisites
# 1. An Linux server with root privileges
# 2. SSH access to the remote machine
# 3. Docker installed on remote machine
# 4. Docker Compose installed on remote machine

yarn build || exit
ssh user@xxx.xxx.xxx.xxx mkdir -p gitery-web || exit
rsync -chavzP dist user@xxx.xxx.xxx.xxx:gitery-web || exit
rsync -chavzP deployment/ user@xxx.xxx.xxx.xxx:gitery-web || exit