version: "3"

services:
  app:
    container_name: app_container
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - VIRTUAL_HOST=example.com
      - LETSENCRYPT_HOST=example.com
    # ports:
      # - "80:80"
    restart: unless-stopped